@using PlannerCSharp.DataAccessLayer
@inject DataTransferObject DTObject

<tr>
    <td>
        @TaskItem.Type
    </td>
    <td>
        @TaskItem.BeginDate
    </td>
    <td>
        @TaskItem.EndDate
    </td>
    <td>
        @TaskItem.Repeat
    </td>
    <td>
        @TaskItem.Title
    </td>
    <td>

        <div class="todo-trash-button">
            <button type="button" class="btn btn-outline-primary" style="border-radius: 100%;" @onclick="@(()=>editTaskWindow.ShowModal(TaskItem.Id))">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button type="button" class="btn btn-outline-danger" style="border-radius: 100%;" @onclick="@(()=> DeleteEntry())">
                <i class="bi bi-trash"></i>
            </button>

        </div>
    </td>
</tr>
    
    
    
    




@code {

    [Parameter]
    public Action OnDelete { get; set; }

    [Parameter]
    public ToDoTask TaskItem { get; set; }



    [Parameter]
    public EditTaskPopUp editTaskWindow { get; set; }

    

    public void DeleteEntry()
    {

        DatabaseRequest delete = new DatabaseRequest($"DELETE FROM todo_items WHERE id = '{TaskItem.Id}';");
        delete.PerformQuery();
        OnDelete?.Invoke();
        // _navigationManager.NavigateTo(_navigationManager.Uri, true);

    }

    
}

