@inject DataTransferObject DTObject

@using PlannerApplication_pureBlazor.Components.Layout
@using PlannerCSharp.DataAccessLayer






<div class="page">

    <NavMenu />


    <main>

        <AddPopUp @ref=newTaskWindow OnSave="Reload">

        </AddPopUp>

        <EditTaskPopUp @ref=editTaskWindow OnSave="Reload">

        </EditTaskPopUp>
        
        @if (todos.Count == 0){
            <div class="no-task-design">
                <i class="bi bi-calendar"></i>
                <p>No Task Found for the Selected Day.</p>
            </div>
            
        } else {
            if (findType("office")){
                <div class="office">
                    <h2><i class="bi bi-pc-display"></i> Office</h2>
                    <div class="list-group">
                        @foreach (var todo in todos)
                        {
                            if (todo.Type == "office")
                            {
                                <ToDoItem TaskItem="@todo" editTaskWindow="@editTaskWindow" OnDelete="Reload" />
                            }
                        }
                    </div>
                </div>
            }
            if (findType("home"))
            {
                <div class="home">
                    <h2><i class="bi bi-house-heart-fill"></i> Home</h2>
                    <div class="list-group">
                        @foreach (var todo in todos)
                        {
                            if (todo.Type == "home")
                            {
                                <ToDoItem TaskItem="@todo" editTaskWindow="@editTaskWindow" OnDelete="Reload" />
                            }
                        }
                    </div>
                </div>
            }
        }
        
        <div class="container_button">
            <button type="button" class="btn btn-success btn-lg shadow-button" style="border-radius: 100%;" @onclick="@(() =>newTaskWindow.ShowModal())">
                <i class="bi bi-plus-lg" style="font-size: 30px; font-weight: 900;"></i>
            </button>
        </div>
    </main>
</div>


@code {




    
    
    private AddPopUp newTaskWindow;
    private EditTaskPopUp editTaskWindow;
    private List<ToDoTask> todos = new List<ToDoTask>();

    private bool findType(string type){
        foreach (var todo in todos){
            if (todo.Type == type){
                return true;
            }
        }
        return false;
    }

    public void Reload()
    {
        todos.Clear();
        
        DatabaseRequest request = new DatabaseRequest($"SELECT * FROM ToDo_Items WHERE username = '{Environment.UserName}' AND enddate >= '{DTObject.SelectedDate.ToString("yyyy-MM-dd")}' AND begindate <= '{DTObject.SelectedDate.ToString("yyyy-MM-dd")}' ORDER BY title ASC; ");
        getRelevantToDos(request.PerformQuery());
        StateHasChanged();
    }



    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Reload();
            DTObject.OnDateChange += Reload;
        }
        
        
    }

    private void getRelevantToDos(DatabaseResponse response)
    {

        for (int i = 0; i < response.Rows; i++)
        {
            ToDoTask t = new ToDoTask();
            t.Title = response["title"][i];
            t.EndDate = DateOnly.Parse(response["enddate"][i]);
            t.BeginDate = DateOnly.Parse(response["begindate"][i]);
            t.Type = response["type"][i];
            t.Id = int.Parse(response["id"][i]);
            t.Repeat = response["repeat"][i];
            t.Username = response["username"][i];

            if (repeatToday(t.Repeat, t.BeginDate)){
                todos.Add(t);
            }

		}
    }

    private bool repeatToday(string repeat, DateOnly date)
	{
		if (repeat == "daily")
		{
			return true;
		}
		else if (repeat == "weekly")
		{
            if (DTObject.SelectedDate.DayOfWeek == date.DayOfWeek)
			{
				return true;
			}
		}
		else if (repeat == "monthly")
		{
            if (DTObject.SelectedDate.Day == date.Day)
			{
				return true;
			}
		}
		else if (repeat == "yearly")
		{
            if (DTObject.SelectedDate.Day == date.Day && DTObject.SelectedDate.Month == date.Month)
			{
				return true;
			}
		} 
        else if (repeat == "never")
        {
            return true;
        }
		return false;
	}

   

    
    
}
